



h1 {
    text-align: center;
}

p {
    text-align: center;
}
body {
    display: flex;
    flex-direction: column; /* Organiza os itens na coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    height: 100vh;           /* Garante que o body ocupe toda a altura da tela */
    margin: 0;               /* Remove a margem padrão */
    background-color: #ffbcd8;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e72929;
    color: #fafafa;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #007B8A;
}

.imagem-cerveja {
    width: 200px;
    height: auto;
}

h1 {
    font-family: 'MinecraftiaRegular', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}





